#gif1 {
  margin-top: 15px;
  margin-left: 30px;
}

.ispy {
  max-width: 100%;
  height: auto;
  display: block;
}

.dinner {
  width: 300px;
  margin: 30px;
  max-width: 100%;
  height: auto;
  display: block;
}

.chicken {
  width: 200px;
  max-width: 100%;
  height: auto;
  display: block;
}

.cheesecake {
  width: 500px;
  margin: 30px;
  max-width: 100%;
  height: auto;
  display: block;
}

.soup {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

.shoton {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

.exhibitions {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

.lectures {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

.onpeople {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

video.birds {
  width: 500px;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.whatimade {
  max-width: 100%;
  height: auto;
  display: block;
}
